/* Container styles */
.users-container {
    color: #322625; /* Black */
    font-family: 'Neutra Text Alt', sans-serif;
}


/* Ensure table container has overflow for horizontal scrolling on small screens */
.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

/* Table styles */
.table {
    background-color: #ffffff; /* White */
    color: #322625; /* Black */
    border-collapse: collapse;
    width: 100%;
}

/* Remove Bootstrap's striped table background */
.table tbody tr:nth-of-type(odd) {
    background-color: #ffffff; /* White */
}

/* Header styles */
.table thead th {
    background-color: #c0e3e5; /* Blue */
    color: #322625; /* Black */
    padding: 8px;
    text-align: left;
}

/* Table cell styles */
.table th, .table td {
    vertical-align: middle;
    padding: 8px;
    border: 1px solid #ebebeb; /* Grey */
}

/* Row styles */
.table tbody tr {
    background-color: #ffffff; /* White */
}

/* Row hover color */
.table tbody tr:hover {
    background-color: #ebebeb; /* Gray */
}

/* Button styles */
.btn-outline-dark {
    color: #322625; /* Black */
    border-color: #322625; /* Black */
}

.btn-outline-dark:hover, .btn-outline-dark:focus {
    background-color: #322625; /* Black */
    color: #ebebeb; /* Grey */
    outline: none; /* Remove default outline */
}

.btn-primary {
    background-color: #322625; /* Black */
    border-color: #322625; /* Black */
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #fdc936; /* Yellow */
    border-color: #fdc936; /* Yellow */
}

/* Search input container styles */
.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input-container input {
    width: 200px;
}

.search-input-container button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: transparent;
}

/* Filters dropdown styles */
.dropdown-menu {
    min-width: 100px;
}

/* Pagination styles */
.pagination {
    display: flex;
    gap: 0.5rem;
}

.pagination .btn {
    min-width: 40px;
    text-align: center;
}

.pagination .btn-primary {
    background-color: #322625; /* Black */
    border-color: #322625; /* Black */
}

.pagination .btn-outline-dark {
    color: #322625; /* Black */
    border-color: #322625; /* Black */
}

/* Dropdown styles */
.form-select {
    border: 1px solid #322625; /* Grey border */
    background-color: #ffffff; /* White */
    color: #322625; /* Black text */
}

.form-select:hover {
    border-color: #322625; /* Black on hover */
}

/* Adjusts the search input container */
.search-input-container {
    margin-left: 10px; /* Space between dropdown and search */
}



/* Responsive adjustments */
@media (max-width: 576px) {
    .search-input-container input {
        width: 100%; /* Make input full width on small screens */
    }
}
